<template>
  <div class="match-details-table-row">
    <div class="match-details-table-content">
      <div class="match-details-table-content_user">
        <img
          class="user-image"
          src="../assets/heroes.png"
          width="40"
          height="27"
        />
        <div>
          <p class="user-name">Long user name</p>
          <p class="user-data">Unknow</p>
        </div>
      </div>
      <div class="match-details-table-content_LVL">
        <p>999</p>
      </div>
      <div class="match-details-table-content_K">
        <p>99</p>
      </div>
      <div class="match-details-table-content_D">
        <p>99</p>
      </div>
      <div class="match-details-table-content_A">
        <p>99</p>
      </div>
      <div class="match-details-table-content_LH-DN">
        <p>999/99</p>
      </div>
      <div class="match-details-table-content_NET">
        <p>99.9k</p>
      </div>
      <div class="match-details-table-content_GMP-XPM">
        <p>9999/9999</p>
      </div>
      <div class="match-details-table-content_HD">
        <p>999.k</p>
      </div>
      <div class="match-details-table-content_TD">
        <p>999</p>
      </div>
      <div class="match-details-table-content_HH">
        <p>999</p>
      </div>
      <div class="match-details-table-content_tools">
        <div class="tools-data">
          <img src="../assets/tools.png" />
        </div>
        <div class="buffs-data">
          <img src="../assets/svg/Circle.svg" />
          <img src="../assets/svg/Shard.svg" />
          <img src="../assets/svg/Buffs.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="match-details-table-row">
    <div class="match-details-table-content">
      <div class="match-details-table-content_user">
        <img
          class="user-image"
          src="../assets/heroes.png"
          width="40"
          height="27"
        />
        <div>
          <p class="user-name">Long user name</p>
          <p class="user-data">Unknow</p>
        </div>
      </div>
      <div class="match-details-table-content_LVL">
        <p>999</p>
      </div>
      <div class="match-details-table-content_K">
        <p>99</p>
      </div>
      <div class="match-details-table-content_D">
        <p>99</p>
      </div>
      <div class="match-details-table-content_A">
        <p>99</p>
      </div>
      <div class="match-details-table-content_LH-DN">
        <p>999/99</p>
      </div>
      <div class="match-details-table-content_NET">
        <p>99.9k</p>
      </div>
      <div class="match-details-table-content_GMP-XPM">
        <p>9999/9999</p>
      </div>
      <div class="match-details-table-content_HD">
        <p>999.k</p>
      </div>
      <div class="match-details-table-content_TD">
        <p>999</p>
      </div>
      <div class="match-details-table-content_HH">
        <p>999</p>
      </div>
      <div class="match-details-table-content_tools">
        <div class="tools-data">
          <img src="../assets/tools.png" />
        </div>
        <div class="buffs-data">
          <img src="../assets/svg/Circle.svg" />
          <img src="../assets/svg/Shard.svg" />
          <img src="../assets/svg/Buffs.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="match-details-table-row">
    <div class="match-details-table-content">
      <div class="match-details-table-content_user">
        <img
          class="user-image"
          src="../assets/heroes.png"
          width="40"
          height="27"
        />
        <div>
          <p class="user-name">Long user name</p>
          <p class="user-data">Unknow</p>
        </div>
      </div>
      <div class="match-details-table-content_LVL">
        <p>999</p>
      </div>
      <div class="match-details-table-content_K">
        <p>99</p>
      </div>
      <div class="match-details-table-content_D">
        <p>99</p>
      </div>
      <div class="match-details-table-content_A">
        <p>99</p>
      </div>
      <div class="match-details-table-content_LH-DN">
        <p>999/99</p>
      </div>
      <div class="match-details-table-content_NET">
        <p>99.9k</p>
      </div>
      <div class="match-details-table-content_GMP-XPM">
        <p>9999/9999</p>
      </div>
      <div class="match-details-table-content_HD">
        <p>999.k</p>
      </div>
      <div class="match-details-table-content_TD">
        <p>999</p>
      </div>
      <div class="match-details-table-content_HH">
        <p>999</p>
      </div>
      <div class="match-details-table-content_tools">
        <div class="tools-data">
          <img src="../assets/tools.png" />
        </div>
        <div class="buffs-data">
          <img src="../assets/svg/Circle.svg" />
          <img src="../assets/svg/Shard.svg" />
          <img src="../assets/svg/Buffs.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="match-details-table-row">
    <div class="match-details-table-content">
      <div class="match-details-table-content_user">
        <img
          class="user-image"
          src="../assets/heroes.png"
          width="40"
          height="27"
        />
        <div>
          <p class="user-name">Long user name</p>
          <p class="user-data">Unknow</p>
        </div>
      </div>
      <div class="match-details-table-content_LVL">
        <p>999</p>
      </div>
      <div class="match-details-table-content_K">
        <p>99</p>
      </div>
      <div class="match-details-table-content_D">
        <p>99</p>
      </div>
      <div class="match-details-table-content_A">
        <p>99</p>
      </div>
      <div class="match-details-table-content_LH-DN">
        <p>999/99</p>
      </div>
      <div class="match-details-table-content_NET">
        <p>99.9k</p>
      </div>
      <div class="match-details-table-content_GMP-XPM">
        <p>9999/9999</p>
      </div>
      <div class="match-details-table-content_HD">
        <p>999.k</p>
      </div>
      <div class="match-details-table-content_TD">
        <p>999</p>
      </div>
      <div class="match-details-table-content_HH">
        <p>999</p>
      </div>
      <div class="match-details-table-content_tools">
        <div class="tools-data">
          <img src="../assets/tools.png" />
        </div>
        <div class="buffs-data">
          <img src="../assets/svg/Circle.svg" />
          <img src="../assets/svg/Shard.svg" />
          <img src="../assets/svg/Buffs.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="match-details-table-row">
    <div class="match-details-table-content">
      <div class="match-details-table-content_user">
        <img
          class="user-image"
          src="../assets/heroes.png"
          width="40"
          height="27"
        />
        <div>
          <p class="user-name">Long user name</p>
          <p class="user-data">Unknow</p>
        </div>
      </div>
      <div class="match-details-table-content_LVL">
        <p>999</p>
      </div>
      <div class="match-details-table-content_K">
        <p>99</p>
      </div>
      <div class="match-details-table-content_D">
        <p>99</p>
      </div>
      <div class="match-details-table-content_A">
        <p>99</p>
      </div>
      <div class="match-details-table-content_LH-DN">
        <p>999/99</p>
      </div>
      <div class="match-details-table-content_NET">
        <p>99.9k</p>
      </div>
      <div class="match-details-table-content_GMP-XPM">
        <p>9999/9999</p>
      </div>
      <div class="match-details-table-content_HD">
        <p>999.k</p>
      </div>
      <div class="match-details-table-content_TD">
        <p>999</p>
      </div>
      <div class="match-details-table-content_HH">
        <p>999</p>
      </div>
      <div class="match-details-table-content_tools">
        <div class="tools-data">
          <img src="../assets/tools.png" />
        </div>
        <div class="buffs-data">
          <img src="../assets/svg/Circle.svg" />
          <img src="../assets/svg/Shard.svg" />
          <img src="../assets/svg/Buffs.svg" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.match-details-table-row:nth-child(even) {
  background-color: var(--dark-violet-alt-3);
  border-bottom: 2px solid var(--violet);
  transition: all 0.6s;
  &:hover {
    background-color: var(--bright-violet-gradient);
    transition: all 0.6s;
  }
}
.match-details-table-row:nth-child(odd) {
  background-color: var(--dark-violet);
  border-bottom: 2px solid var(--violet);
  transition: all 0.6s;
  &:hover {
    background-color: var(--bright-violet-gradient);
    transition: all 0.6s;
  }
}
.match-details-table-content {
  display: grid;
  gap: 0 10px;
  grid-template-columns: 230px 40px 30px 30px 30px 70px 60px 100px 50px 40px 50px auto;
  &_user {
    align-self: center;
    padding: 1.25em 0 1.25em 2em;
    display: flex;
    align-items: center;
    gap: 0.6em;
    .user-name {
      color: var(--lime);
      font-weight: 500;
    }
  }
  &_LVL,
  &_K,
  &_D,
  &_A,
  &_LH-DN,
  &_NET,
  &_GMP-XPM,
  &_HD,
  &_TD,
  &_HH {
    align-self: center;
    padding: 1.25em 0;
  }
  &_tools {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 1.25em 2.5em 1.25em 0;
    gap: 0.8em;

    .buffs-data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.8em;
    }
  }
}
</style>
